body { 
background-image: url("carB.jpg") !important;
}

.jumbotron {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.5); 
}

h4, h3, h2, h1 { 
color: white;
}

.jumbotron .h1, .jumbotron h1 {
    color: white;
}

.innerToWhite { 
    color: white;
}

.jumbotron {

background: rgba(184, 195, 174, 0.68)
}